
.titile{
    color: red;
    font-size: 45px;
    font-weight: 700;
}

@media only screen and (max-width:480px){
    .titile{
        color: green;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    .titile{
        color: goldenrod;
        font-size: 80px;
        display: none;
    }
}