*{
    padding: 0;
    margin: 0;
}
.banner-container{
    height: 100vh;
    background-image: url("./backgroud.jpg"),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}